.auth {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  background-color: white;
  background-image: linear-gradient(
    157deg,
    rgba(255, 226, 45, 55.6%) 47%,
    rgba(0, 255, 66, 56.5%) 100%
  );
}

.welcome {
  margin-top: 50px;
  color: rgba(0, 0, 0, 60%);
  font-size: 30px;
  text-align: center;
}

.wrapper {
  width: 400px;
  height: 300px;
  margin: 10% auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 24%);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 17%),
    0 0 17px 11px rgba(246, 244, 203, 20%) inset;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.submit-btn {
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: rgba(14, 198, 63, 56.5%);
  color: rgb(254, 253, 253);
  font-size: 18px;
}
