<div class="auth">
  <h1 class="welcome">Welcome to your site!</h1>
  <div class="wrapper">
    <form
      class="form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <mat-form-field
        color="accent"
        appearance="outline"
        floatLabel="auto">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email" />
        <mat-error *ngIf="getErrors(['email'])['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="getErrors(['email'])['email']">
          Invalid email
        </mat-error>
      </mat-form-field>
      <mat-form-field
        color="accent"
        appearance="outline"
        floatLabel="auto">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password" />
        <mat-error *ngIf="getErrors(['password'])['required']">
          Password is required
        </mat-error>
        <mat-error *ngIf="getErrors(['password'])['minlength']">
          Min length is 5 symbols
        </mat-error>
      </mat-form-field>
      <button
        class="submit-btn"
        type="submit"
        [disabled]="loginForm.invalid">
        Log in
      </button>
    </form>
  </div>
</div>
