<div class="header">
  <nav>
    <ul class="navigation">
      <li>
        <a
          routerLinkActive="active"
          routerLink="/"
          class="home"
          aria-label="Home page"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon class="icon"> home </mat-icon>
        </a>
      </li>
      <li *ngIf="isAdmin$ | async">
        <a
          routerLinkActive="active"
          routerLink="/admin"
          class="admin"
          aria-label="Home page">
          Admin
        </a>
      </li>
    </ul>
  </nav>

  <button
    type="button"
    class="exit"
    aria-label="Logout"
    (click)="onLogout()">
    <mat-icon class="icon"> exit_to_app </mat-icon>
  </button>
</div>
