<div class="header">
  <nav>
    <ul class="navigation">
      <li>
        <a
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/"
          class="home"
          aria-label="Home page"
        >
          <mat-icon
            class="icon"
            style="font-size: 20px"
          >
            home
          </mat-icon>
        </a>
      </li>
      <li *ngIf="isAdmin$ | async">
        <a
          routerLinkActive="active"
          routerLink="/admin"
          class="admin"
          aria-label="Home page"
        >
          Admin
        </a>
      </li>
    </ul>
  </nav>

  <button
    type="button"
    class="exit"
    aria-label="Logout"
    (click)="onLogout()"
  >
    <mat-icon
      class="icon"
      style="font-size: 20px"
    >
      exit_to_app
    </mat-icon>
  </button>
</div>
