.outer {
  width: fit-content;
  margin: 100px auto;
}
.title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
}
.wrapper {
  width: 80%;
  margin: 50px auto;
}
.card {
  margin-bottom: 10px;
}
.user {
  display: grid;
  grid-template-columns: 1.3fr 1.3fr 0.8fr 0.8fr 0.7fr;
  align-items: center;
  justify-content: center;
}
.name {
  font-weight: 700;
}
